.customButton {
  background: #ff8d24;
  border: none;
  width: 255px;
  height: 50px;
  border-radius: 10px;
}
.customButton:hover {
  background: #bf6715;
}
.customButton:disabled {
  background: #dbdbdb;
  opacity: 1;
  color: black;
}
