.block_header {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url("/background_header.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
